<header>
  <ul class="breadcrumb">
    <li>
      <a href="{{ site.Home.RelPermalink }}"
         style="filter: grayscale(1); text-decoration: none; font-size: 1.5rem;">⌂</a>
    </li>

    {{ $crumbs := slice . }}
    {{ range .Ancestors }}
      {{ $crumbs = $crumbs | append . }}
    {{ end }}

    {{ range $crumbs | reverse }}
      {{ if not .IsHome }}
        {{ $title := .LinkTitle }}

        {{/* Your custom naming rules */}}
        {{ if eq .Section "day" }}{{ $title = "Programme" }}{{ end }}
        {{ if eq .Section "person" }}{{ $title = "Team" }}{{ end }}
        {{ if eq .Section "venue" }}{{ $title = "Venues" }}{{ end }}

        <li>
          <a class="breadcrumbTitle" href="{{ .RelPermalink }}">{{ $title }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</header>
